<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <% if (userData) { %>
    <div class="navContainer">
      <nav
        class="navbar"
        style="
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: right;
          align-items: center;
        "
      >
        <div onclick="location.href='/';" style="margin: 20px">HOME</div>
        <div id="logout" style="margin: 20px">로그아웃</div>
      </nav>
    </div>
    <% } else { %>
    <div class="navContainer">
      <nav class="navbar">
        <div onclick="location.href='/login';">login</div>
      </nav>
    </div>
    <% } %>
    <div>
      <h1 style="font-size: 2rem; margin: 0 auto 2vw auto">플레이리스트</h1>
    </div>
    <% (data || []).forEach((song, index) => { %>
    <div id="songlist">
      <div
        class="chart"
        onclick="updateData('<%= song._id %>','<%= song.videoId %>')"
        style="margin: 0 20px"
        ;
      >
        <%= index + 1 %>.<%= song.title %>
      </div>
      <% if (userData) { %>
      <div
        class="mysong"
        onclick="addPlaylist('<%= song.videoId %>','<%= userData.userId %>')"
      >
        삭제
      </div>
      <% } %>
    </div>

    <% }) %>
    <div>
      <!-- 아래 dialog 태그 영역이 메시지 창 -->
      <dialog id="myMsgDialog">
        <iframe
          id="ytplayer"
          type="text/html"
          width="640"
          height="360"
          src=""
          frameborder="0"
        ></iframe>
      </dialog>
    </div>

    <script>
      let dialog = document.getElementById("myMsgDialog");
      let yplayer = document.getElementById("ytplayer");
      let isProcessing = false;
      const updateData = (ids, song) => {
        if (!isProcessing) {
          isProcessing = true;

          event.preventDefault();
          const data = { songid: song }; // 수정할 데이터
          fetch("/update", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          })
            .then((response) => {
              console.log("update success");
            })
            .catch((error) => {
              console.error("Error update:", error);
            });

          yplayer.src = `https://www.youtube.com/embed/${song}?autoplay=1&origin=http://example.com`;
          dialog.style.display = "flex"; // 모달 요소에 style 속성으로 flex 스타일 추가
          dialog.showModal();
          isProcessing = false;
          console.log(isProcessing);
        }
      };

      document.getElementById("logout").addEventListener("click", () => {
        fetch("/logout", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ message: "로그아웃" }),
        })
          .then((response) => {
            if (response.ok) {
              window.location.reload();
            } else {
              throw new Error("로그아웃 실패");
            }
          })
          .catch((error) => console.error(error));
      });

      function addPlaylist(songid, userid) {
        const data = { songid: songid, userid: userid }; //user값도 넘겨줘야함
        if (!isProcessing) {
          isProcessing = true;
          event.preventDefault();
          fetch("/playlist", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          })
            .then((response) => {
              window.location.reload();
            })
            .catch((error) => {
              console.error("Error update:", error);
              window.location.reload();
            });
          isProcessing = false;
        }
      }

      dialog.addEventListener("click", (event) => {
        if (event.target.nodeName === "DIALOG") {
          closeMsg();
        }
      });
      function closeMsg() {
        let dialog = document.getElementById("myMsgDialog");
        yplayer.src = "";
        dialog.style.flex = "none";
        dialog.close();
        window.location.reload();
      }
    </script>
  </body>
</html>
